<div id="detail-region">
  {{> message}}
  <div class="content">
    <h2>{{ symbol }} {{ name }}</h2>
    <table class="table table-striped" id="record-table">
      <thead>
        <tr>
          <th scope="col" style="width: 22%">紀錄</th>
          <th scope="col" style="width: 22%">總額</th>
          <th scope="col" style="width: 22%">股數</th>
          <th scope="col" style="width: 29%">日期</th>
          <th scope="col" style="width: 5%;"></th>
        </tr>
      </thead>
      <tbody>
        {{#each records}}
        <tr>
          <th scope="row" class="method">{{ this.method }}</th>
          <td class="value">{{ this.value }}</td>
          <td class="shares">{{ this.shares }}</td>
          <td class="date">{{ this.date }}</td>
          <td>
            <form action="/stocks/{{ this.symbol }}/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" style="border: none; background-color: transparent;" onclick="return confirm(`確定刪除？`)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- <a href="/stocks/{{ symbol }}/new" style="text-decoration: none;"> --}}
      <button type="button" class="btn btn-dark" id="add-button" data-bs-toggle="modal" data-bs-target="#new-modal">
        新增
      </button>
    {{!-- </a> --}}
    <div class="modal" id="new-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" id="new-modal-body">
              <a href="/stocks/{{ symbol }}/new" style="text-decoration: none;">
                <button type="button" class="btn btn-dark px-5">
                  買賣
                </button>
              </a>
              <a href="/stocks/{{ symbol }}/dividend" style="text-decoration: none;">
                <button type="button" class="btn btn-dark px-5" id="add-button">
                  股利
                </button>
              </a>
              <button type="button" class="btn btn-link" data-bs-dismiss="modal">
                取消
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/stocks/{{symbol}}/?page={{pagination.prev}}" style="color: #595959;">&laquo;</a>
      </li>
      {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
      <li class="page-item disabled">
        <a class="page-link" href="#" style="color: #595959;">{{this}}</a>
      </li>
      {{else}}
      <li class="page-item">
        <a class="page-link" href="/stocks/{{../symbol}}?page={{this}}" style="color: #595959;">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item">
        <a class="page-link" href="/stocks/{{symbol}}?page={{pagination.next}}" style="color: #595959;">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>