<div id="realized-profit">
  {{> message}}
  <div class="content">
    <div class="card bg-light mb-4" style="border-radius: 10px;">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h4>總成本</h4>
          <h5 class="ps-1">{{ total.cost }}</h5>
        </div>
        <div>
          <h4>總損益</h4>
          <h5 class="ps-1">{{ total.profit }}</h5>
        </div>
        <div>
          <h4>總報酬率</h4>
          <h5 class="ps-1">{{ total.roi }}</h5>
        </div>
      </div>
    </div>

    <table class="table table-striped" id="record-table" style="min-width: 436px;">
      <thead>
        <tr>
          <th scope="col" style="width: 11%">代號</th>
          <th scope="col" style="width: 19%">名稱</th>
          <th scope="col" style="width: 15%">投資成本</th>
          <th scope="col" style="width: 15%">實現損益</th>
          <th scope="col" style="width: 15%">報酬率</th>
          <th scope="col" style="width: 19%">日期</th>
          <th scope="col" style="width: 6%;"></th>
        </tr>
      </thead>
      <tbody>
        {{#each records}}
        <tr>
          <th scope="row" class="name">{{ this.symbol }}</th>
          <td class="name">{{ this.name }}</td>
          <td class="cost">{{ this.cost }}</td>
          <td class="profit">{{ this.profit }}</td>
          <td class="roi">{{ this.roi }}</td>
          <td class="date">{{ this.date }}</td>
          <td>
            <form action="/stocks/realizedprofit/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" style="border: none; background-color: transparent;" onclick="return confirm(`確定刪除？`)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <nav class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/stocks/realizedprofit?page={{pagination.prev}}" style="color: #595959;">&laquo;</a>
      </li>
      {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
      <li class="page-item disabled">
        <a class="page-link" href="#" style="color: #595959;">{{this}}</a>
      </li>
      {{else}}
      <li class="page-item">
        <a class="page-link" href="/stocks/realizedprofit/?page={{this}}" style="color: #595959;">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item">
        <a class="page-link" href="/stocks/realizedprofit/?page={{pagination.next}}" style="color: #595959;">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>